@model List<OtelListViewModel>

<table class="table">
    <thead>
        <tr>
            <th scope="col">SıraNo</th>
            <th scope="col">Adı</th>
            <th scope="col">Türü</th>
            <th scope="col">Yıldız</th>
            <th scope="col">Kapasite</th>
            <th scope="col">Oda Sayısı</th>
            <th scope="col">Durumu</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach(OtelListViewModel otel in Model)
        {
            <tr>
                <th scope="row">@otel.SiraNo</th>
                <td>@otel.Adi</td>
                <td>@otel.Turu</td>
                <td>@otel.YildizSayisi</td>
                <td>@otel.Kapasite</td>
                <td>@otel.OdaSayisi</td>
                <td>@otel.OtelDurumu</td>
                <td>@otel.Islemler</td>
            </tr>
        }
        
        
    </tbody>
</table>